@import 'styles/shared';

.cartPageWrapper{
    display: flex;
    justify-content: space-between;
}

.cartListWrapper{
    @extend %wrapper; 
    padding-left: 20px;
    width: 100%;
    height: 75vh
};

.cartList{
    padding-left: 20px;
};