@import 'styles/shared';

.cartPageWrapper{
    display: flex;
    justify-content: space-between;
}

.cartListWrapper{
    @extend %wrapper; 
    width: 100%;
};

.cartList{
    padding-left: 40px;
};