@import 'styles/shared';

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 585px;
    margin-right: 25px;
    padding: 20px 20px 40px 20px;

    &:nth-child(2){
        flex-grow: 2;
    }
}


.inputWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.label{
    position: relative;
    &:not(:last-child){
        margin-bottom: 30px;
    }
}

.input{
    @extend %input;
    display: block;
    width: 100%;
    padding: 10px 35px 10px 35px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.error{
    position: absolute;
    color: $warning-color;
}

.checkOutWrapper{
    // margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.totalPrice{
    font-size: 18px;
    font-weight: 600;
}

.orderButton{
    @extend %button;
    padding: 12px 46px;
    font-size: 18px;
    background-color: $accent;
    color:$secondary-white-text;
    &:hover,
    &:focus{
        background-color: $button-accent-blue-bg;
        color:$secondary-white-text;
    }
}